@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
ul li {
    list-style: none;
}
p{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    color: #323c42;;
    font-size: 14px;
}



/* HEADER */
.header-top {
    display: flex;
    position: relative;
    align-items: center;
    height: 33px;
    background-color: #cd932b;
    color: #fff;
}

.header-top .header-content {
    flex: 4;
    padding-left: 30px;
    font-size: 10px;
    font-weight: normal;
}

.header-top .menu-list {
    display: flex;
    flex: 3;
    position: relative;
}

.header-top .menu-list li {
    padding: 0 30px;
    border: none;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-top .menu-list .search-header:hover{
    color: #f0dbb3;
}
.header-top .menu-list li a:hover{
    color: #f0dbb3;
}
.menu-list a{
    text-decoration: none;
    color: #fff;
}


.search-header {
    display: flex;
    gap: 7px;
}

.book-room {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 30px;
    top: 0;
    padding: 23px;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    background-color: #a1731d;
    cursor: pointer;
}
.book-room:hover{
    background-color: #a1731d;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.3);
}

.search-header svg {
    width: 20px;
}

.book-room svg {
    width: 40px;
}

.click-search {
    padding: 3px 50px;
    position: absolute;
    top: 30px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-top: 0;
    z-index: 2;
    width: 100%;
    right: 157px;
    display: flex;
    flex-direction: column;
    color: black;
    display: none;
    
}

.click-search .input-search {
    padding:10px 30px;
    border: none;
    border-bottom: 1px solid #cd9a2b;
    width: 500px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.click-search .key-popular {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.click-search .key-popular .room-popular {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.click-search .key-popular .room-popular li {
    border: 1px solid #cfcece;
    padding: 10px 30px;
    border-radius: 60px;
    color: #a9a8a8;
    font-weight: 500;
}
.key-popular .title-key-popular{
    font-size: 25px;
    color: #cd9a2b;
}
 /* MAIN HEADER */
.main-header{
    display: flex;
    /* border: 1px solid red; */
    height: 80px;
    align-items: center;   
}
.main-header img{
    width: 200px;
    height: 90px;
}
.nav-header .nav{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-right: -10px;
    margin-left: -10px;
    align-items: center;
}
.nav-header .nav li{
    display: flex;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    /* position: relative; */
}
.nav-header .nav li a:hover{
    color: #cd932b;
    background-color: #fff;
    cursor: pointer;
}
.nav li:hover .room-list ,.nav li:hover .food-list {
    display: block;
}

.subnav-room svg ,.subnav-food svg{
    width: 13px;
}
.nav li{
    display: inline-block;
    position: relative;

}
.nav .room-list{
    display:none;
    background-color: #fff;
    position:absolute;
    top: 60px;
    right: -100px;
    /* display: inline-block; */
}
.nav .food-list{
    display:none;
    background-color: #fff;
    position:absolute;
    top: 60px;
    /* right: -100px; */
    left: -3px;

}
.room-list{
    width: 200px;
}
.food-list{
    width: 200px;
}

.nav a{
    text-decoration: none;
    color: #333;
}

/* END MAIN HEADER */
/* END HEADER */
/* body */
.body-paper .sub-about-us{
    width: 100%;
    height: 54px;
    background-color: #efecec;
    
}
.body-paper svg{
    width: 15px;
    
}
.home-svg{
    display: flex;
}
.svg-svg{
    display: flex;
    align-items: center;
    /* width: 100%;
    height: 100%; */
}
.body-paper .container{
    /* padding-left: 15px;
    padding-right: 15px; */
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.sub-about-us .home-page{
    margin: 0px;
    font-size: 13px;
    display: flex;
    padding: 15px 0px;
    border-radius: 0;
    line-height: 24px;
    background-color: transparent;
    width: 100%;
    text-align: center;
    gap: 10px;
}
.sub-home, .us-us{
    font-weight: 100;
    
}
.sub-about-us .home-page{
    padding-left: 20px;
}
.home-page .us-us{
    color: #a1731d;
}
.sub-about-us{
    margin-bottom: 15px ;
}



/*  */
.p-content img{
    justify-items: center;
}
.content-page  .container{
    padding-left: 40px;
    padding-right: 40px;
}
.title-content .sub-title-content{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.p-content p{
    margin-bottom: 15px;
}
/* start footer */
.footer .container{
    position: relative;
    width: 1263;
    height: 600;
}
.container .background-footer{
    width: 100%;
    
    height: auto;
}
.sub-background{
    position: absolute;
    opacity: 0.7;
    top: 0;
    right: 0;
    left: 0;
    bottom:0 ;
    background-color: rgb(15, 14, 14);

}
.top-footer{
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    gap: 100px;
    z-index: 2;
}
.top-footer a{
    text-decoration: none;
    color: #fff;
}
.top-footer h3{
    text-transform: uppercase;
    color: #fff;
}
.input-infor input{
    width: 300px;
    height: 40px;
} 
.input-infor{
    display: flex;
}
.input-infor button{
    background-color: #a1731d; 
    border: none;
    width: 60px;
}
.mid-footer{
    position: absolute;
    bottom: 170px;
    left: 50px;
    z-index: 2;
}
.showroom-footer .svg-showroom{
    display: flex;
    align-items: center; 
    color:#fff;
}
.showroom-footer{
    justify-content: center;
    margin-bottom: 15px;
}
.showroom-footer svg{
   width: 40px;
}

.row-showroom svg{
    width: 30px;
}
.text-showroom a{
    text-decoration: none;
    color: #fff;
}
.text-showroom a:hover{
    color: #a1731d;
}
.row-showroom .sub-row-showroom{
    display: flex;
    border-bottom: 1px solid rgb(171, 168, 168); 
    padding: 20px 10px;
    margin-bottom: 15px;
    color:#fff;   
}
.row-showroom .sub-row-showroom p{
    color: #fff;
}
.section-row-showroom .row-showroom{
    display: flex;
}
.sub-row-showroom .text-p{
    margin-bottom: 10px;
}




