@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');


* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
ul li {
    list-style: none;
}
body{

    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    color: #323c42;
    font-size: 14px;
    
}

/* HEADER */
.header-top {
    display: flex;
    position: relative;
    align-items: center;
    height: 33px;
    background-color: #cd932b;
    color: #fff;
}

.header-top .header-content {
    flex: 4;
    padding-left: 30px;
    font-size: 10px;
    font-weight: normal;
}

.header-top .menu-list {
    display: flex;
    flex: 3;
    position: relative;
}

.header-top .menu-list li {
    padding: 0 30px;
    border: none;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-top .menu-list li:hover{
    color: #f0dbb3;
}

.search-header {
    display: flex;
    gap: 7px;
}

.book-room {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 30px;
    top: 0;
    padding: 23px;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    background-color: #a1731d;
    cursor: pointer;
}
.book-room:hover{
    background-color: #a1731d;
    box-shadow: 0 4px 8px 0  rgba(0, 0, 0, 0.3);
}

.search-header svg {
    width: 20px;
}

.book-room svg {
    width: 40px;
}

.click-search {
    padding: 3px 50px;
    position: absolute;
    top: 30px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-top: 0;
    z-index: 2;
    width: 100%;
    right: 157px;
    display: flex;
    flex-direction: column;
    color: black;
    display: none;
    
}

.click-search .input-search {
    padding:10px 30px;
    border: none;
    border-bottom: 1px solid #cd9a2b;
    width: 500px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.click-search .key-popular {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.click-search .key-popular .room-popular {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.click-search .key-popular .room-popular li {
    border: 1px solid #cfcece;
    padding: 10px 30px;
    border-radius: 60px;
    color: #a9a8a8;
    font-weight: 500;
}
.key-popular .title-key-popular{
    font-size: 25px;
    color: #cd9a2b;
}
 /* MAIN HEADER */
.main-header{
    display: flex;
    /* border: 1px solid red; */
    height: 80px;
    align-items: center;   
}
.main-header img{
    width: 200px;
    height: 90px;
}
.nav-header .nav{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin-right: -10px;
    margin-left: -10px;
    align-items: center;
}
.nav-header .nav li{
    display: flex;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    /* position: relative; */
}
.nav-header .nav li:hover{
    color: #cd932b;
    background-color: #fff;
    cursor: pointer;
}
.nav li:hover .room-list ,.nav li:hover .food-list {
    display: block;
}

.subnav-room svg ,.subnav-food svg{
    width: 13px;
}
.nav li{
    display: inline-block;
    position: relative;

}
.nav .room-list{
    display:none;
    background-color: #fff;
    position:absolute;
    top: 60px;
    right: -100px;
    /* display: inline-block; */
}
.nav .food-list{
    display:none;
    background-color: #fff;
    position:absolute;
    top: 60px;
    /* right: -100px; */
    left: -3px;

}
.room-list{
    width: 200px;
}
.food-list{
    width: 200px;

}

/* END MAIN HEADER */
/* END HEADER */
/* SLIDER*/
.picture-slider img{
    max-width: 100%;
    /* height: 200px; */
}
/* end */
/* START CONTENT ABOUT */
.content-about{
    display: flex;
    padding-top: 20px;

}
.picture-about .img-about img{
    width: auto ;
    max-height: 100%;
    position: absolute;
    margin: auto;
    display:flex;
}
.img-about .load-about{
    padding: 6px 40px;
}
.content-intro{
    padding: 50px 100px;

    
}
.content-intro .name-intro{
    font-weight: bold;
    font-size: 26px;
    color: #333;
    right: 0;

}
.content-intro .title-intro{
    font-weight: 500;
    font-size: 22px;
    color: #333;
    
}
.content-intro .infor-intro p{
    /* padding: 10px 0px; */
    padding-top: -100px;
}
.infor-intro p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.7;
    font-size: 10 px;

}
.infor-intro .see-more a{
    display: block;
    background-color: #a1731d;  
    text-decoration: none;
    color: #fff;
    padding: 18px 29px;
    margin: 0px 2px;
    text-align: center;
}
.infor-intro .see-more{
    width: 140px;
    height: 30px;
}
.content-intro .border-border{
    border: 5px solid #e0dbdb;
    width: 200px;
    height: 100px;
    top: -5px;
    left: -70px;  
    position: relative;

}
.border-border h3{
    position: absolute;
    z-index: 2;
    background-color:#fff;
    width: 250px;
    height: 60px;
    right: -150px;
    bottom: 15px;
}

/* END CONTENT ABOUT */
.module-room a , .module-food a{
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    border-bottom: 3px double;
    /* font-size: 50px; */
}
.module-room h2, .module-food h2{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    padding-top: 34px;
    text-align: center;
    text-transform: uppercase;
}
/* start section room */
.section-room .container{
    background-color: #ece9e9;
}
.section-room-double .container{
    background-color: #ece9e9;
}
.item-product-room .item-product-img{
    width: 100%;
}
.item-product-img img{
    width: 100%;
}

.row-display-room .col-display-room{
    display: flex;
    flex: 1;
    gap: 20px;
    /* background-color: #fff; */
    justify-content: center;
    box-shadow: 5px 5px #333;
    padding-left: 10px;
    padding-right: 10px;
}
.col-display-room .item-product-img img{
    width: 280px;
    height: 180px;
}
.col-display-room .alter-item-product-room{
    border: 1px solid #a9a8a8;
    background-color: #fff;
    
}
.tag-room .name-room a{
    align-items: center;
    text-decoration: none;
}
.tag-room .img-list-tag-room{
    display: flex;
    border-bottom: double;
}

.tag-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infor-room .img-list-tag-room{
    width: 40%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.alter-item-product-room .infor-room .name-room {
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.infor-room .name-room a{
    color: #1a1a1a;
}
.tag-review-room .list-tag-review{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 0px;
    gap: 10px;
}
.product-infor-room{
    display: flex;
    gap: 55px;
    margin-top: 17px;
    margin-bottom: 5px;
}
/* .btn-booking{
    margin-right: 5px;
    margin-bottom: 5px; 
} */
.product-infor-room .btn-booking{
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #c40025;
    width: 100px;
    height: 40px;
    padding: 10px 15px;

}
.product-infor-room .price{
    color: #c40025;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    padding: 5px;
}
.price-room{
    width: 120px;
    display: flex;
    align-items: center;
}
/* .section-room-double .row-display-room{
    margin-bottom: 50px;
} */
    /* phòng vip */

.infor-room-vip{
    width: 450px;
    padding: 10px;
}
.infor-room-vip .infor-room{
    display: flex;
    padding: 10px;
    /* justify-content: space-between;
    align-items: center; */
    /* gap: 130px; */
}
.row-display-room-vip .room-single{
    border: 1px solid #9e9c9c;
    flex: 1;
    /* box-shadow: 10px rgba(0, 0, 0, 0.3); */
} 
.infor-room .tag-review{
    display: flex;
    flex: 1;
}
.infor-room .list-tag-room{
    display: flex;
    gap: 15px;
}
.infor-room .tag-room{
    flex:1;
}
.infor-room-vip .content-room  {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.7;
    font-size: 10 px;
    /* padding-right: 50px; */
}
/* .row-display-room-vip .item-product-img{
    padding: 0px 10px;
} */
.section-room-vip .module-room h2{
    text-transform: uppercase;
}
.section-room-vip .container{
    background-color: #fff;
    padding: 40px;
}
.tag-review .area-room{
    height: 100%;
    display: flex;
    align-items: center;
}
.container .row-display-room-vip{
    display: flex;
    width: 100%;
    gap: 30px;
}

.btn-book-room {
    border: 1px solid #333;
    width: 250px;
    /* height: 45px; */
    background-color: #c40025;
    font-size: 14px;
    padding: 10px 16px;
    color: #fff;
    cursor: pointer;
}

/* four room vip */
.four-room-vip .item-room-vip {
    display: flex;
    /* padding: 0px 10px; */
    flex-direction: row;
    gap: 20px;
    width: 100%;
    flex: 2;

}
.col-room-vip .img-room-vip{
    gap: 20px;
    margin-bottom: 10px;
}
.item-room-vip .col-room-vip{
    /* padding: 0px 10px; */
}
.col-room-vip .name-price-room{
    display: flex;
    gap: 70px;
    align-items: center;
    margin-bottom: 20px;
}
.name-price-room .price{
    background-color: #c40025;
    width: 120px;
    padding: 10px;
    text-align: center;
}

/* .four-room-vip .col-room-vip{
    border: 1px solid red;
} */
 /* end phòng vip */
/* end section room */



/* start food */
.section-food .container{
    padding: 40px;
}
.container .vn-food{
    display: flex;
    gap: 20px;
}
.vn-food .row-food{
    border: 1px solid #9e9c9c;
    margin-bottom: 20px ;
    /* box-shadow: 5px rgba(0, 0, 0, 0.1); */
}
.row-food .name-price-food{
    padding: 10px;
}
.name-price-food .name-food{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
.name-price-food .price-food{
    background-color: #c40025;
    /* width: 100px;
    height: 50px; */
}
.see-more-food .more{
    text-align: center;
    padding: 20px;
    background-color: #a1731d;
    color: #fff;
    font-weight: 100;
}
/* end food */
/* start footer */
.footer .container{
    position: relative;
    width: 1263;
    height: 800;
}
.container .background-footer{
    width: 100%;
    height: 800px;
}
.sub-background{
    position: absolute;
    opacity: 0.7;
    top: 0;
    right: 0;
    left: 0;
    bottom:0 ;
    background-color: rgb(15, 14, 14);

}
.top-footer{
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    gap: 100px;
    z-index: 2;
}
.top-footer a{
    text-decoration: none;
    color: #fff;
}
.top-footer h3{
    text-transform: uppercase;
    color: #fff;
}
.input-infor input{
    width: 300px;
    height: 40px;
} 
.input-infor{
    display: flex;
}
.input-infor button{
    background-color: #a1731d; 
    border: none;
    width: 60px;
}
/* mid footer */
.mid-footer{
    position: absolute;
    bottom: 350px;
    left: 50px;
    z-index: 2;
}
.showroom-footer .svg-showroom{
    display: flex;
    align-items: center; 
    color:#fff;
}
.showroom-footer{
    justify-content: center;
    margin-bottom: 15px;
}
.showroom-footer svg{
   width: 40px;
}

.row-showroom svg{
    width: 30px;
}
.text-showroom a{
    text-decoration: none;
    color: #fff;
}
.text-showroom a:hover{
    color: #a1731d;
}
.row-showroom .sub-row-showroom{
    display: flex;
    /* border-left: 1px solid red;
    /* border-right: 1px solid red; */
    border-bottom: 1px solid rgb(171, 168, 168); 
    padding: 20px 10px;
    margin-bottom: 15px;
    color:#fff;   
}
.section-row-showroom .row-showroom{
    display: flex;
}
.sub-row-showroom .text-p{
    margin-bottom: 10px;
}



 /* * bottom-footer */ 
.text-img-footer {
    /* border: 1px solid green; */
    height: 100%;
}
.new-text{
    /* border: 1px solid green; */
    height: 100%;
    padding-top: 50px;
}
.policy-suport{
    /* border: 1px solid green; */
    height: 100%;
    padding-top: 50px;
}
.formal-pay{
    /* border: 1px solid green; */
    height: 100%;
    padding-top: 50px;
}



.bottom-footer {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 2;
    color: #fff;
    gap: 10px;
    /* align-items: center; */
    padding-left:20px;
    /* border: 1px solid red; */
}

.logo-footer{
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bottom-footer .text-img-footer{
    padding: 30px;
    width: 350px;
    /* border: 1px solid red; */
}
.bottom-footer h4{
    text-transform:uppercase ;
    margin-bottom: 10px;
    margin-top: 15px;
}
.bottom-footer a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}
.list-new{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-policy{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.item-post p{
    font-style:italic ;
    color: #f3ddb7;

}
 




/* end */